<div class="card">
  <div class="item item-text-wrap">
  	<div class="list">
  	  <label class="item item-input">
  	    <input type="text" placeholder="User Name">
  	  </label>
  	  <label class="item item-input">
  	    <input type="password" placeholder="Password">
  	  </label>
  	  <div class="item item-checkbox">
  	     <label class="checkbox">
  	       <input type="checkbox">
  	     </label>
  	     Keep me logged in
  	  </div>
  	  <a href = "#/tab/home" class="button button-block button-balanced">
  	    Login
  	  </a>
  	</div>      
  </div>
</div><!-- end login -->