<ion-view title="My Cart">
  <ion-content>
    <ion-list>
    <diva ng-hide="cart.getTotalCount() > 0" ><br>
        <h3 class = "energized text-center">
            Your cart is empty.
        </h3>
    </diva>

    <ion-item>
      <table class="table table-bordered">
          <!-- header -->
          <tr class="well">
              <td><b>Item</b></td>
              <td class="tdCenter"><b>Quantity</b></td>
              <td class="tdRight"><b>Price</b></td>
              <td />
          </tr>
          <!-- empty cart message -->
          <tr ng-hide="cart.getTotalCount() > 0" >
              <td class="tdCenter" colspan="4">
                  Your cart is empty.
              </td>
          </tr>

          <!-- cart items -->
          <tr ng-repeat="item in cart.items | orderBy:'name'">
              <td>
                  <img src="img/{{item.pic}}.png" class = "floated-right">
                  <h2>{{item.name}}</h2>
              </td>
              <td class="tdCenter">
                <div class="input-group">
                  <!-- use type=tel instead of  to prevent spinners -->
                  <input
                      class=" form-control" type="number" 
                      ng-model="item.quantity" 
                      ng-change="cart.saveItems()" />
<!--                   <span class="input-group btn">
<a 
    class="btn" type="button" 
    ng-disabled="item.quantity >= 1000"
    ng-click="cart.addItem(item.id, item.name, item.price, +1)">+</a>
<a 
    class="btn" type="button" 
    ng-disabled="item.quantity <= 1"
    ng-click="cart.addItem(item.id, item.name, item.price, -1)">-</a>
</span> -->
                </div>
              </td>
              <td class="tdRight">{{item.price * item.quantity | currency : "&#8377;"}}</td>
              <td class="tdCenter" title="remove from cart">
                  <a href="" class="icon ion-close-round" ng-click="cart.addItem(item.id, item.name, item.price, -1000)" >
                  </a>
              </td>
          </tr>

          <!-- footer -->
          <tr class="well">
              <td><b>Total</b></td>
              <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
              <td class="tdRight"><b>{{cart.getTotalPrice() | currency : "&#8377;"}}</b></td>
              <td />
          </tr>
      </table>
    </ion-item>
    </ion-list>

    <a class="button button-block button-balanced" ng-disabled="cart.getTotalCount() < 1">
      Place Order
    </a>
    <a 
        class="button button-block button-assertive" 
        ng-click="cart.clearItems()" 
         > <!-- ng-disabled="cart.getTotalCount() < 1"  add after -->
        <i class="icon-trash icon-white" /> Clear cart
    </a>
    <a 
        class="button button-block button-stable" 
        onclick="window.location.href='#/tab/dash'">
        <i class="icon-chevron-left" /> Continue shopping
    </a>
  </ion-content>
</ion-view>
