<ion-view title="e - Market">
  <ion-content class="padding">
    <div class="button-bar">
    <a class="button button-icon icon ion-ios7-heart-outline cart-bar" > Favourites</a>
    <a class="button button-icon icon ion-information-circled cart-bar"> Notifications</a>
    <a class="button button-icon icon ion-ios7-cart-outline cart-bar" href = "#/tab/cart"> My Cart</a>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search for grossary, Bakery, Crockery etc" ng-model="query">
      </label>
      </div>
      <a class="button button-royal button-full" href="#/tab/dash/{{query}}">Search</a>
      
    <div class="button-bar">
      <a class="button button-positive margined">Bakery</a>
      <a class="button button-calm margined">Grocery</a>
      <a class="button button-energized margined">Crockery</a>
      <a class="button button-balanced margined">Hot Deals</a>
      <a class="button button-assertive margined">Just In</a>
    </div>
    <div class="row">
    <div class="col col-50"><img src="img/310*220-1.png" alt="" class = "full-image"></div>
    <div class="col col-50"><img src="img/310*220-2.png" alt="" class = "full-image"></div>
	</div>
	<div class="row">
		<div class="col"><img src="img/640*230-2.png" alt="" class = "full-image"></div>
	</div>
  </ion-content>
</ion-view>
    <!-- //window.location = "#/tab/cart"; -->